* {
  box-sizing: border-box;
}

nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  gap: 0.5rem;
  border-bottom: solid 1px #aaa;
  background-color: #eee;
}

nav a {
  display: inline-block;
  min-width: 9rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
  border: solid 1px rgb(22, 22, 22);
  text-align: center;
  text-decoration: none;
  color: #1b1b1b;
}

nav a[aria-current='page'] {
  color: #000;
  background-color: #d4d4d4;
}


.body-main{
    margin: 0;
    padding: 20px;
    background-color: #50e3c2; /* Light green background */
    font-family: Arial, sans-serif;
}

.container-main{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    background-color: #f0f0f0;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 1;
}

.container-main button{
    background-color: #5dade2; /* Blue */
    border: none;
    padding: 10px 20px;
    color: white;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.container-main:hover{
  background-color: #3498db;
}