
html {
  margin: 0;
}

span {
  display: block;
}
.canvas {
  margin: 100px auto 100px;
  width: 80%;
  text-align: center;
}

.button {
  width: 100px;
  height: 100px;
  border: solid black 2px;
  display: inline-block;
}

#grey {
  background: grey;
  border-color: white;
}

#white {
  background: white;
  border-color: black;

}
#blue {
  background: blue;
  border-color: black;

}
#yellow {
  background: yellow;
  border-color: white;

}
#green {
  background: green;
  border-color: black;

}
#black {
  background: black;
  border-color: white;

}
#red {
  background: red;
  border-color: black;

}
#cyan {
  background: cyan;
  border-color: white;

}
/* 
h2{
  color: darkred;
} */